# Directory in archive file
archive
envs/*
!envs/virtualenvwrapper.sh
keras/*
!keras/README.md
pip/*
!pip/README.md
sample/**/*.pid
sample/**/*.jpg
sample/ext/whisper/
sample/ext/openai/default_tts.ulaw
sample/ext/openai/openai-python/
sample/ext/openai/openai-agents-python/
sample/ext/openai/openai-cookbook/
sample/custom/c2p/dlopen/pybind11/
sample/custom/deeplearning/cnn_car/
!sample/**/bin
!sample/custom/deeplearning/**/*.jpg
**/__pycache__
**/*.egg-info
**/*.pyc
**/*.log

