# Directory in archive file
archive
pip/*
!pip/README.md
sample/**/*.pid
sample/**/*.jpg
sample/ext/whisper/
sample/custom/c2p/dlopen/pybind11/
!sample/**/bin
**/__pycache__
**/*.egg-info
**/*.pyc
**/*.log
