# Directory in archive file
archive
envs/*
!envs/virtualenvwrapper.sh
keras/*
!keras/README.md
pip/*
!pip/README.md
sample/**/*.pid
sample/**/*.jpg
sample/ext/whisper/
sample/custom/c2p/dlopen/pybind11/
!sample/**/bin
!sample/custom/deeplearning/**/*.jpg
**/__pycache__
**/*.egg-info
**/*.pyc
**/*.log
